<h1>Welcome to MPC Tool</h1>
<h2>Please, fill out the form to check a certificate</h2>
<h2>Links:</h2>

<ul>
    <li><a href="{% url 'mpct_app:home_view' %}">Home</a></li>
    <li><a href="{% url 'mpct_app:material_list_view' %}">List of registered materials</a></li>
    <li><a href="{% url 'mpct_app:material_type_create_view' %}">Register a new material type</a></li>
    <li><a href="{% url 'mpct_app:specification_create_view' %}">Register a new Specification</a></li>
</ul>

<form method="POST">
        {% csrf_token %}
        {{ form.as_p }} {# (form.as_p) as_p makes form to be wrapped by <p></p>; you can use other: as_ul, as_table  #}
        <hr>
        <input type="submit">
</form>