{% extends "base.html" %}
{% load static %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPCT</title>
</head>
<body>
    <h1>Check certificate</h1>

<div>
    <form action="" method="POST">
    {% csrf_token %}


    <div>
        {% for field in form %}
            {% if "chem_" not in field.name and "mech_" not in field.name and "supp_" not in field.name %}
                <p>
                    {{field.label_tag}} {{field}}
                </p>
            {% endif %}
        {% endfor %}
    </div>
    

    <div>
        {% for field in form %}
            {% if "min" not in field.name %}
                {% for key, value in material_dict.items %}
                    {% if key == field.name %}
                        {% if value is not None %}
                            <p>
                                {{field.label_tag}} {{field}}
                            </p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>

    <input type="submit">

    </form>

</div>

{% endblock %} 