{% extends "base.html" %}
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}


{% block content %}
    <h1>Material properties check tool (MPCT)</h1>

    <form method="post" class="dropdown">
        {% csrf_token %}
        <select name="{{ form.specification.name }}" class="btn btn-secondary dropdown-toggle">
            <option class="dropdown-item">Select Specification</option>
            {% for value, display in form.specification.field.choices %}
                {% if value %}
                    <option class="dropdown-item" value="{{ value }}">{{ display }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="btn btn-secondary" type="submit" value="Filter">
    </form>


    <div class="list-group list-group-flush">
        {% for material in materials  %}
            <a href="/mpct/check_certificate/{{material.specification.name}}__Gr{{material.grade}}/{{material.id}}" class="list-group-item list-group-item-action">Сheck certificate for {{material}}</a>
        {% endfor %}

    </div>


{% endblock %} 



