{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Material detail function based</h1>

<h2>{{model_instance}}</h2>

<h3>General info</h3>
<form>
    <ul>
    {% for key, value in  field_value_dict_gen.items %}
        <li>
            <label for="{{key}}">{{key}}:</label>
            <input type="text" id="{{key}}" value="{{value}}" readonly>
        </li>
    {% endfor %}
    </ul>
</form>



{% if  field_value_dict_chem %}
<h3>Chemical properties</h3>
<form>
    <ul>
    {% for key, value in  field_value_dict_chem.items %}
        <li>
            <label for="{{key}}">{{key}}:</label>
            <input type="text" id="{{key}}" value="{{value}}" readonly>
        </li>
    {% endfor %}
    </ul>
</form>
{% endif %}



{% if  field_value_dict_mech %}
<h3>Mechanical properties</h3>
<form>
    <ul>
    {% for key, value in  field_value_dict_mech.items %}
        <li>
            <label for="{{key}}">{{key}}:</label>
            <input type="text" id="{{key}}" value="{{value}}" readonly>
        </li>
    {% endfor %}
    </ul>
</form>
{% endif %}


{% if  field_value_dict_supp %}
<h3>Supplementary properties</h3>
<form>
    <ul>
    {% for key, value in  field_value_dict_supp.items %}
        <li>
            <label for="{{key}}">{{key}}:</label>
            <input type="text" id="{{key}}" value="{{value}}" readonly>
        </li>
    {% endfor %}
    </ul>
</form>
{% endif %}


{% endblock %} 