<h1>Register a new material and its requirements</h1>
<h2>Links:</h2>
    <ul>
        <li><a href="{% url 'mpct_app:home_view' %}">Home</a></li>
        <li><a href="{% url 'mpct_app:material_list_view' %}">List of registered materials</a></li>
        <li><a href="{% url 'mpct_app:material_type_create_view' %}">Register a new material type</a></li>
        <li><a href="{% url 'mpct_app:specification_create_view' %}">Register a new Specification</a></li>
        <li><a href="{% url 'mpct_app:certificate_list_view' %}">List of Certificates</a></li>
    </ul>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register new material">
</form>